<%- include('./layouts/header.ejs') %>

<h1><a href="/">查看用户信息</a></h1>

<p><strong>Id：</strong><%= id %></p>
<p><strong>name：</strong><%= name %></p>
<p><strong>age：</strong><%= age %></p>
<p><strong>gender：</strong><%= gender %></p>
<p><strong>address：</strong><%= address %></p>

<%- include('./layouts/footer.ejs') %>